
.heroSection {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column1,
.column2 {
  flex: 50%;
  padding: 10px;
  background: #393855;
}

.column1 p:nth-of-type(1){
  font-size:8rem;
}


.column1 {
  line-height: 1.2;
  box-sizing: inherit;
  padding-left: 15rem;
}

.column2 {
  box-sizing: inherit;
  padding: 0;
}

.column {
background: #149acb;
  height: 5rem;
  transform: skewY(2deg);
  transform-origin: left center;
  width: 100%;
  position: absolute;
  bottom: -82px;
}

.headShot{
    height:100vh;
   cursor:auto;
}


/* Media Queries */
@media only screen and (max-width: 960px) {
  .heroSection{
    display:block;
  }
  .column1{
    /* background:pink; */
    padding-left: 5rem;
  }
  .headShot{
    position:inherit;
    height:auto;
    min-inline-size:-webkit-fill-available;
  }
}

@media only screen and (max-width: 600px) {
  /* .heroSection{
    display:block;
  } */
  .column1{
    background:pink;
    padding-left: 1rem;
  }
  .column1 p:nth-of-type(1){
    font-size:5rem;
  }
  /* .headShot{
    position:inherit;
    height:auto;
    min-inline-size:-webkit-fill-available;
  } */
}
